# See https://help.github.com/ignore-files/ for more about ignoring files.


###  Component  ###
# dependencies
/Component-tmp/node_modules

# testing
/Component-tmp/coverage

# production
/Component-tmp/build

# misc
/Component-tmp/.DS_Store
/Component-tmp/.env
/Component-tmp/npm-debug.log*
/Component-tmp/yarn-debug.log*
/Component-tmp/yarn-error.log*

# Images
/Component-tmp/development-images


###  Cruise-tmp  ###
# dependencies
/Cruise-tmp/node_modules

# testing
/Cruise-tmp/coverage

# production
/Cruise-tmp/build

# misc
/Cruise-tmp/.DS_Store
/Cruise-tmp/.env
/Cruise-tmp/npm-debug.log*
/Cruise-tmp/yarn-debug.log*
/Cruise-tmp/yarn-error.log*

# Images
/Cruise-tmp/development-images



###  Elena2Eindhoven  ###
# dependencies
/Elena2Eindhoven/node_modules

# testing
/Elena2Eindhoven/coverage

# production
/Elena2Eindhoven/build

# misc
/Elena2Eindhoven/.DS_Store
/Elena2Eindhoven/.env
/Elena2Eindhoven/npm-debug.log*
/Elena2Eindhoven/yarn-debug.log*
/Elena2Eindhoven/yarn-error.log*

# Images
/Elena2Eindhoven/development-images
