.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

h1 {
  color: #fafafc;
  color: #333;*/
  padding: 20px 50px;
  display: inline-block;
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cruise {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/carnival-cruise-line-splendor-beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: -10;
}

.cruise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  animation: darken infinite 5s linear;
}

@keyframes darken {
  0% { background-color: rgba(255,255,255,0); }
  45% { background-color: rgba(255,255,255,0); }
  50% { background-color: rgba(255,255,255,.15); }
  55% { background-color: rgba(255,255,255,0); }
  100% { background-color: rgba(255,255,255,0); }
}
