
.flags-container{
  padding: 5px;
  content: '';
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
  height: auto;
  z-index: 10;
  display: flex;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.flag {
  margin-right: 5px;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 35px;
  height: 35px;
  content: '';
  opacity: 1;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: box-shadow .5s ease-in;
  /*border: 1px solid red;*/
}

.flag:hover {
  box-shadow: 0px 0px 15px rgba(250, 250, 250, .75);
}

.flag:last-child {
  margin-right: 0px;
}

.english {
  background-image: url(./../../images/uk-flag.png);
}

.german {
  background-image: url(./../../images/german-flag.png);
}

.serbian {
  background-image: url(./../../images/serbian-flag.png);
}
